<div class="card col-md-6 col-xxl-6 mx-5 my-2" style="width: 18rem;">
    <div class="card-body">
        {{!-- Se muestra el contenido recibido como argumento en el parcial mainsection --}}
        <h6>{{productillo}}</h6>
        <img src="/{{productillo}}.png" alt="{{productillo}}">
    </div>
</div>